In [ ]:
pip install scikit-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.1.0)

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
# Kết nối với Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Đường dẫn đến tệp tin CSV trong Google Drive
file_path = 'https://drive.google.com/uc?id=1OQYLAEJhQN1Rg0tKTz5qZDDDEn9o3Rza'

In [ ]:
# Đọc tệp tin dữ liệu và lưu vào DataFrame
df = pd.read_csv(file_path)

In [ ]:
df.shape

(9357, 15)

In [ ]:
df.columns

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [ ]:
features = ['CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH']

In [ ]:
data = df[features]
print(data)

      CO(GT)  PT08.S1(CO)  NMHC(GT)   C6H6(GT)  PT08.S2(NMHC)  NOx(GT)  \
0        2.6      1360.00       150  11.881723        1045.50    166.0
1        2.0      1292.25       112   9.397165         954.75    103.0
2        2.2      1402.00        88   8.997817         939.25    131.0
3        2.2      1375.50        80   9.228796         948.25    172.0
4        1.6      1272.25        51   6.518224         835.50    131.0
...      ...          ...       ...        ...            ...      ...
9352     3.1      1314.25      -200  13.529605        1101.25    471.7
9353     2.4      1162.50      -200  11.355157        1027.00    353.3
9354     2.4      1142.00      -200  12.374538        1062.50    293.0
9355     2.1      1002.50      -200   9.547187         960.50    234.5
9356     2.2      1070.75      -200  11.932060        1047.25    265.2

      PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)       T         RH  \
0          1056.25    113.0       1692.00      1267.50  13.600  48.875001
1          1173.75     92.0       1558.75       972.25  13.300  47.700000
2          1140.00    114.0       1554.50      1074.00  11.900  53.975000
3          1092.00    122.0       1583.75      1203.25  11.000  60.000000
4          1205.00    116.0       1490.00      1110.00  11.150  59.575001
...            ...      ...           ...          ...     ...        ...
9352        538.50    189.8       1374.25      1728.50  21.850  29.250000
9353        603.75    179.2       1263.50      1269.00  24.325  23.725000
9354        603.25    174.7       1240.75      1092.00  26.900  18.350000
9355        701.50    155.7       1041.00       769.75  28.325  13.550000
9356        654.00    167.7       1128.50       816.00  28.500  13.125000

            AH
0     0.757754
1     0.725487
2     0.750239
3     0.786713
4     0.788794
...        ...
9352  0.756824
9353  0.711864
9354  0.640649
9355  0.513866
9356  0.502804

[9357 rows x 13 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   float64
 2   NMHC(GT)       9357 non-null   int64
 3   C6H6(GT)       9357 non-null   float64
 4   PT08.S2(NMHC)  9357 non-null   float64
 5   NOx(GT)        9357 non-null   float64
 6   PT08.S3(NOx)   9357 non-null   float64
 7   NO2(GT)        9357 non-null   float64
 8   PT08.S4(NO2)   9357 non-null   float64
 9   PT08.S5(O3)    9357 non-null   float64
 10  T              9357 non-null   float64
 11  RH             9357 non-null   float64
 12  AH             9357 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 950.4 KB

In [ ]:
# Lấy tất cả cacs cột trừ cột cuối cùng
X = data.iloc[: , :-1]

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH
0,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001
1,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000
2,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000
3,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000
4,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001
...,...,...,...,...,...,...,...,...,...,...,...,...
9352,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000
9353,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000
9354,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000
9355,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000
9356,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000

In [ ]:
# Lấy cột cuối cùng của bảng
y = data.iloc[: , -1]
y

0       0.757754
1       0.725487
2       0.750239
3       0.786713
4       0.788794
          ...
9352    0.756824
9353    0.711864
9354    0.640649
9355    0.513866
9356    0.502804
Name: AH, Length: 9357, dtype: float64

In [ ]:
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((6549, 12), (2808, 12), (6549,), (2808,))

In [ ]:
# Xây dựng mô hình KNN Regression
k = 5  # Số láng giềng gần nhất
knn_regressor = KNeighborsRegressor(n_neighbors=k)
knn_regressor.fit(X_train, y_train)

# Dự đoán giá trị đầu ra cho tập kiểm tra
y_pred = knn_regressor.predict(X_test)
print(pd.DataFrame({"y_predicted" : y_pred , "y_test" : y_test}))

      y_predicted    y_test
2973     1.244151  1.150921
3396     1.483065  1.384914
4372     1.034640  1.013075
6025     0.509181  0.525066
7960     0.361517  0.409122
...           ...       ...
5737     1.554556  1.686530
2595     1.319465  1.488056
6226     0.694126  0.715197
1030     0.824091  0.726206
4812     0.865654  0.980228

[2808 rows x 2 columns]

# Mô hình hồi quy tuyến tính (linear regression) trên dữ liệu từ DataFrame data, bạn có thể sử dụng thư viện scikit-learn trong Python.
## linear model
### y = coef_*x + intercept_
w1x1 + w2x2 +...+wnxn +w0
y = 
y =w.x + b

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# Chia dữ liệu thành tập huấn luyện và tập kiểm tra
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Xây dựng mô hình Linear Regression
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

# Dự đoán giá trị đầu ra cho tập kiểm tra
y_pred = linear_regression.predict(X_test)
print(pd.DataFrame({"y_predicted" : y_pred , "y_test" : y_test}))

      y_predicted      y_test
2973     0.486713    1.150921
3396     1.314754    1.384914
4372     1.276321    1.013075
6025    -0.338546    0.525066
7960     0.043017    0.409122
...           ...         ...
724   -198.869245 -200.000000
4407     1.069564    1.037773
3772     1.728701    1.707492
9069     0.656872    0.634557
5360     1.719982    1.562583

[1872 rows x 2 columns]

In [ ]:

#các hệ số (weights) của mô hình bằng cách sử dụng thuộc tính coef_. 
w = linear_regression.coef_
w

array([-9.07775592e-05, -6.22428248e-04,  1.76583127e-03,  7.79591948e-01,
       -1.80415346e-02, -3.27855640e-03, -1.08966228e-03,  5.27103705e-03,
       -4.79364592e-03,  7.70728745e-04,  2.21213808e-01,  7.24786427e-02])

In [ ]:
#Để lấy hệ số chặn (intercept) của mô hình hồi quy tuyến tính, bạn có thể sử dụng thuộc tính intercept_ của đối tượng mô hình hồi quy tuyến tính.
w0= linear_regression.intercept_
w0

10.786112753475576

# Đo lường sai số trung bình tuyệt đối (Mean Absolute Error - MAE) là một phương pháp phổ biến để đánh giá hiệu suất của mô hình hồi quy. Để tính toán MAE giữa hai dãy giá trị y và yhat, bạn có thể sử dụng hàm như sau:

In [ ]:
import numpy as np

def MAE(y, yhat):
    return np.sum(np.abs(y - yhat)) / len(y)

mae = MAE(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.7439265124057501